<div class="container">
  <div>  <input matInput class="form-control" placeholder="Search for alumni"></div><mat-divider style="margin-top: 1rem;"></mat-divider>
  <div>
   <mat-card style="margin-top: 1rem;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon><img src="/assets/sahil.jpg" height="50" class="rounded-circle"></mat-icon></div>
        <mat-card-title>Sahil Pinjari</mat-card-title>
        <mat-card-subtitle>Web Developer</mat-card-subtitle>
       <button  style="margin-left:4rem;margin-top: -1rem;"  mat-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" style="right:0">visibility</mat-icon></button> 
      </mat-card-header>
   </mat-card>
  </div>
</div>